<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hyweb.gip.dao.ApCatMapper" >
  <resultMap id="BaseResultMap" type="hyweb.gip.pojo.mybatis.table.ApCat" >
    <id column="apCatId" property="apcatid" jdbcType="VARCHAR" />
    <result column="apCatCName" property="apcatcname" jdbcType="NVARCHAR" />
    <result column="apCatEName" property="apcatename" jdbcType="VARCHAR" />
    <result column="apCatSort" property="apcatsort" jdbcType="INTEGER" />
    <result column="apCatIconUrl" property="apcaticonurl" jdbcType="NVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    apCatId, apCatCName, apCatEName, apCatSort, apCatIconUrl
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from BaphiqApCat
    where apCatId = #{apcatid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from BaphiqApCat
    where apCatId = #{apcatid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="hyweb.gip.pojo.mybatis.table.ApCat" >
    insert into BaphiqApCat (apCatId, apCatCName, apCatEName, 
      apCatSort, apCatIconUrl)
    values (#{apcatid,jdbcType=VARCHAR}, #{apcatcname,jdbcType=NVARCHAR}, #{apcatename,jdbcType=VARCHAR}, 
      #{apcatsort,jdbcType=INTEGER}, #{apcaticonurl,jdbcType=NVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="hyweb.gip.pojo.mybatis.table.ApCat" >
    update BaphiqApCat
    set apCatCName = #{apcatcname,jdbcType=NVARCHAR},
      apCatEName = #{apcatename,jdbcType=VARCHAR},
      apCatSort = #{apcatsort,jdbcType=INTEGER},
      apCatIconUrl = #{apcaticonurl,jdbcType=NVARCHAR}
    where apCatId = #{apcatid,jdbcType=VARCHAR}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from BaphiqApCat order by apCatSort
  </select>
    <select id="selectTopApCat" resultMap="BaseResultMap" parameterType="java.lang.String">
    select distinct 
    <include refid="Base_Column_List" /> 
    from BaphiqInfoUser 
    cross apply dbo.SplitStrings(ugrpid, ',') as a 
    join Baphiqugrp b on a.item=b.ugrpid 
    join BaphiqugrpAp c on b.ugrpid=c.ugrpid 
    join Baphiqap d on c.apid=d.apid 
    join Baphiqapcat e on d.apCat = e.apCatId
    where userid = #{userid,jdbcType=NVARCHAR} and (c.apFunc &amp; 1 =1)
    order by e.apcatsort
  </select>
  <select id="list" resultMap="BaseResultMap">
  	select * from (
		select row_number() over (order by apCatSort) as row_num, 
		<include refid="Base_Column_List" /> 
		from BaphiqApCat 
	) as tb 
	where row_num between ((#{page} - 1) * #{showNum} + 1) and (#{page}*#{showNum}) 
  </select>
  <select id="countAll" resultType="int">
    select count(*) 
    from BaphiqApCat 
  </select>
</mapper>