<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hyweb.gip.dao.CodeMetaDefMapper" >
  <resultMap id="BaseResultMap" type="hyweb.gip.pojo.mybatis.table.CodeMetaDef" >
    <id column="codeMetaSeq" property="codemetaseq" jdbcType="INTEGER" />
    <result column="codeMetaId" property="codemetaid" jdbcType="NVARCHAR" />
    <result column="codeMetaName" property="codemetaname" jdbcType="NVARCHAR" />
    <result column="codeMetaTblName" property="codemetatblname" jdbcType="NVARCHAR" />
    <result column="codeMetaSrcFld" property="codemetasrcfld" jdbcType="NVARCHAR" />
    <result column="codeMetaSrcItem" property="codemetasrcitem" jdbcType="NVARCHAR" />
    <result column="codeMetaValueFld" property="codemetavaluefld" jdbcType="NVARCHAR" />
    <result column="codeMetaValueFldName" property="codemetavaluefldname" jdbcType="NVARCHAR" />
    <result column="codeMetaShowFld" property="codemetashowfld" jdbcType="NVARCHAR" />
    <result column="codeMetaShowFldName" property="codemetashowfldname" jdbcType="NVARCHAR" />
    <result column="codeMetaSortFld" property="codemetasortfld" jdbcType="NVARCHAR" />
    <result column="codeMetaSortFldName" property="codemetasortfldname" jdbcType="NVARCHAR" />
    <result column="codeMetaType" property="codemetatype" jdbcType="NVARCHAR" />
    <result column="showOrNot" property="showornot" jdbcType="CHAR" />
    <result column="codeMetaSort" property="codemetasort" jdbcType="INTEGER" />
    <result column="rowId" property="rowid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    codeMetaSeq, codeMetaId, codeMetaName, codeMetaTblName, codeMetaSrcFld, codeMetaSrcItem, codeMetaValueFld, codeMetaValueFldName, codeMetaShowFld, codeMetaShowFldName, codeMetaSortFld, codeMetaSortFldName, codeMetaType, showOrNot, codeMetaSort
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from BaphiqCodeMetaDef
    where codeMetaSeq = #{codemetaseq,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from BaphiqCodeMetaDef
    where codeMetaSeq = #{codemetaseq,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="hyweb.gip.pojo.mybatis.table.CodeMetaDef" >
    insert into BaphiqCodeMetaDef (codeMetaId, codeMetaName, codeMetaTblName, codeMetaSrcFld, 
    codeMetaSrcItem, codeMetaValueFld, codeMetaValueFldName, codeMetaShowFld, codeMetaShowFldName, 
    codeMetaSortFld, codeMetaSortFldName, codeMetaType, showOrNot, codeMetaSort
      )
    values (#{codemetaid,jdbcType=NVARCHAR}, #{codemetaname,jdbcType=NVARCHAR}, #{codemetatblname,jdbcType=NVARCHAR},
      #{codemetasrcfld,jdbcType=NVARCHAR}, #{codemetasrcitem,jdbcType=NVARCHAR}, #{codemetavaluefld,jdbcType=NVARCHAR},
      #{codemetavaluefldname,jdbcType=NVARCHAR}, #{codemetashowfld,jdbcType=NVARCHAR}, #{codemetashowfldname,jdbcType=NVARCHAR},
      #{codemetasortfld,jdbcType=NVARCHAR}, #{codemetasortfldname,jdbcType=NVARCHAR}, 
      #{codemetatype,jdbcType=NVARCHAR}, #{showornot,jdbcType=CHAR}, #{codemetasort,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="hyweb.gip.pojo.mybatis.table.CodeMetaDef" >
    update BaphiqCodeMetaDef
    set codeMetaId = #{codemetaid,jdbcType=NVARCHAR},
      codeMetaName = #{codemetaname,jdbcType=NVARCHAR},
      codeMetaTblName = #{codemetatblname,jdbcType=NVARCHAR},
      codeMetaSrcFld =  #{codemetasrcfld,jdbcType=NVARCHAR},
      codeMetaSrcItem = #{codemetasrcitem,jdbcType=NVARCHAR},
      codeMetaValueFld = #{codemetavaluefld,jdbcType=NVARCHAR},
      codeMetaValueFldName = #{codemetavaluefldname,jdbcType=NVARCHAR},
      codeMetaShowFld = #{codemetashowfld,jdbcType=NVARCHAR},
      codeMetaShowFldName = #{codemetashowfldname,jdbcType=NVARCHAR},
      codeMetaSortFld = #{codemetasortfld,jdbcType=NVARCHAR},
      codeMetaSortFldName = #{codemetasortfldname,jdbcType=NVARCHAR},
      codeMetaType = #{codemetatype,jdbcType=NVARCHAR},
      showOrNot = #{showornot,jdbcType=CHAR},
      codeMetaSort = #{codemetasort,jdbcType=INTEGER}
    where codeMetaSeq = #{codemetaseq,jdbcType=INTEGER}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
  	 select 
    <include refid="Base_Column_List" />
    from BaphiqCodeMetaDef order by codeMetaSort
  </select>
  <select id="selectType" resultMap="BaseResultMap">
  	select row_number() over ( order by codemetasort) as rowid, codemetatype, codemetasort 
  	from Baphiqcodemetadef 
  	group by codemetatype, codemetasort
  </select>
  <select id="selectNode" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select 
  	<include refid="Base_Column_List" /> 
  	from Baphiqcodemetadef where codemetatype = #{codemetatype,jdbcType=NVARCHAR}
  	order by codemetasort
  </select>
  <select id="selectTblName"  resultMap="BaseResultMap" parameterType="java.lang.String">
  	select codemetatblname from Baphiqcodemetadef where codemetaid = #{codemetaid,jdbcType=NVARCHAR}
  </select>
  <select id="list" resultMap="BaseResultMap">
  	select * from (
		select row_number() over (order by codeMetaSort) as row_num, 
		<include refid="Base_Column_List" /> 
		from BaphiqCodeMetaDef  
	) as tb 
	where row_num between ((#{page} - 1) * #{showNum} + 1) and (#{page}*#{showNum}) 
  </select>
  <select id="countAll" resultType="int">
    select count(*) 
    from BaphiqCodeMetaDef 
  </select>
</mapper>