<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hyweb.gip.dao.FileCenterMapper" >
  <resultMap id="BaseResultMap" type="hyweb.gip.pojo.mybatis.table.FileCenter" >
    <id column="fileSeq" property="fileseq" jdbcType="INTEGER" />
    <result column="fileId" property="fileid" jdbcType="CHAR" />
    <result column="fileTitle" property="filetitle" jdbcType="NVARCHAR" />
    <result column="fileContent" property="filecontent" jdbcType="NVARCHAR" />
    <result column="fileStatus" property="filestatus" jdbcType="NVARCHAR" />
    <result column="fileFileName" property="filefilename" jdbcType="NVARCHAR" />
    <result column="fileFileUri" property="filefileuri" jdbcType="NVARCHAR" />
    <result column="fileUploadUser" property="fileuploaduser" jdbcType="NVARCHAR" />
    <result column="fileUploadTime" property="fileuploadtime" jdbcType="TIMESTAMP" />
    <result column="fileUploadDept" property="fileuploaddept" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    fileSeq, fileId, fileTitle, fileContent, fileStatus, fileFileName, fileFileUri, fileUploadUser, 
    fileUploadTime, fileUploadDept
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from FileCenter
    where fileSeq = #{fileseq,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from FileCenter
    where fileSeq = #{fileseq,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="hyweb.gip.pojo.mybatis.table.FileCenter" 
  			useGeneratedKeys="true" keyProperty="fileseq">
    insert into FileCenter (fileTitle, 
      fileContent, fileStatus, fileFileName, 
      fileFileUri, fileUploadUser, fileUploadTime, fileUploadDept
      )
    values (#{filetitle,jdbcType=NVARCHAR}, 
      #{filecontent,jdbcType=NVARCHAR}, #{filestatus,jdbcType=NVARCHAR}, #{filefilename,jdbcType=NVARCHAR}, 
      #{filefileuri,jdbcType=NVARCHAR}, #{fileuploaduser,jdbcType=NVARCHAR}, #{fileuploadtime,jdbcType=TIMESTAMP},
      #{fileuploaddept,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="hyweb.gip.pojo.mybatis.table.FileCenter" >
    update FileCenter
    set fileId = #{fileid,jdbcType=CHAR},
      fileTitle = #{filetitle,jdbcType=NVARCHAR},
      fileContent = #{filecontent,jdbcType=NVARCHAR},
      fileStatus = #{filestatus,jdbcType=NVARCHAR},
      fileFileName = #{filefilename,jdbcType=NVARCHAR},
      fileFileUri = #{filefileuri,jdbcType=NVARCHAR},
      fileUploadUser = #{fileuploaduser,jdbcType=NVARCHAR},
      fileUploadTime = #{fileuploadtime,jdbcType=TIMESTAMP},
      fileuploaddept = #{fileuploaddept,jdbcType=INTEGER}
    where fileSeq = #{fileseq,jdbcType=INTEGER}
  </update>
    <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from FileCenter
  </select>
  <select id="selectBySidAndFileId" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from FileCenter
    where fileId = #{fileId}
  </select>
  <select id="getFileName" resultType="hashmap" parameterType="java.lang.String">
    select SUBSTRING(fileFileUri,(CHARINDEX('/',fileFileUri)+18),LEN(fileFileUri)) as filecode, fileFileName as filename from FileCenter where fileid=#{fileId,jdbcType=CHAR};
  </select>
</mapper>