<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hyweb.gip.dao.InfoUserLoginMapper" >
  <resultMap id="BaseResultMap" type="hyweb.gip.pojo.mybatis.table.InfoUserLogin" >
    <id column="loginSeq" property="loginseq" jdbcType="BIGINT" />
    <result column="loginUserId" property="loginuserid" jdbcType="NVARCHAR" />
    <result column="lastVisit" property="lastvisit" jdbcType="TIMESTAMP" />
    <result column="lastIp" property="lastip" jdbcType="NVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    loginSeq, loginUserId, lastVisit, lastIp
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from BaphiqInfoUserLogin
    where loginSeq = #{loginseq,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from BaphiqInfoUserLogin
    where loginSeq = #{loginseq,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="hyweb.gip.pojo.mybatis.table.InfoUserLogin" >
    insert into BaphiqInfoUserLogin (loginUserId, lastVisit, 
      lastIp)
    values (#{loginuserid,jdbcType=NVARCHAR}, #{lastvisit,jdbcType=TIMESTAMP}, 
      #{lastip,jdbcType=NVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="hyweb.gip.pojo.mybatis.table.InfoUserLogin" >
    update BaphiqInfoUserLogin
    set loginUserId = #{loginuserid,jdbcType=NVARCHAR},
      lastVisit = #{lastvisit,jdbcType=TIMESTAMP},
      lastIp = #{lastip,jdbcType=NVARCHAR}
    where loginSeq = #{loginseq,jdbcType=BIGINT}
  </update>
  <select id="selectLastByUserId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select top 1 
    <include refid="Base_Column_List" />
    from BaphiqInfoUserLogin
    where loginUserId = #{loginuserid,jdbcType=NVARCHAR} 
    order by loginSeq DESC 
  </select>
</mapper>