<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hyweb.gip.dao.UgrpApMapper" >
  <resultMap id="BaseResultMap" type="hyweb.gip.pojo.mybatis.table.UgrpAp" >
    <id column="ugrpId" property="ugrpid" jdbcType="INTEGER" />
    <id column="apId" property="apid" jdbcType="INTEGER" />
    <result column="apCName" property="apcname" jdbcType="NVARCHAR" />
    <result column="apFunc" property="apfunc" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ugrpId, apId, apFunc  
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="hyweb.gip.pojo.mybatis.table.UgrpApKey" >
    select a.ugrpId, a.apId, a.apFunc, b.apCName 
    from BaphiqUgrpAp a 
 	left join BaphiqAp b 
 	on a.apId=b.apId 
    where a.ugrpId = #{ugrpid,jdbcType=INTEGER}
      and a.apId = #{apid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="hyweb.gip.pojo.mybatis.table.UgrpApKey" >
    delete from BaphiqUgrpAp
    where ugrpId = #{ugrpid,jdbcType=INTEGER}
      and apId = #{apid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="hyweb.gip.pojo.mybatis.table.UgrpAp" >
    insert into BaphiqUgrpAp (ugrpId, apId, apFunc)
    values (#{ugrpid,jdbcType=INTEGER}, #{apid,jdbcType=INTEGER}, #{apfunc,jdbcType=INTEGER})
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="hyweb.gip.pojo.mybatis.table.UgrpAp" >
    update BaphiqUgrpAp
    set apFunc = #{apfunc,jdbcType=INTEGER} 
    where ugrpId = #{ugrpid,jdbcType=INTEGER}
      and apId = #{apid,jdbcType=INTEGER}
  </update>
  <select id="selectByUgrpId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
 	select a.ugrpId, a.apId, a.apFunc, b.apCName 
 	from BaphiqUgrpAp a 
 	left join BaphiqAp b 
 	on a.apId=b.apId 
    where ugrpId = #{ugrpid,jdbcType=INTEGER} 
  </select>
  <select id="selectUgrpApByUgrpId" resultMap="BaseResultMap" parameterType="hyweb.gip.pojo.custom.UgrpApQuery">
  	select distinct c.ugrpid,c.apid, c.apFunc  
    from BaphiqinfoUser 
    cross apply dbo.SplitStrings(ugrpid, ',') as a
    join ugrp b on a.item=b.ugrpid 
    join ugrpAp c on b.ugrpid=c.ugrpid 
    join ap d on c.apid=d.apid
    where userid=#{userid,jdbcType=NVARCHAR} 
    and d.apename= #{apurl,jdbcType=NVARCHAR}
  </select>
    <delete id="deleteByApId" parameterType="java.lang.Integer" >
    delete from BaphiqUgrpAp 
    where apId = #{apid,jdbcType=INTEGER}
  </delete>
</mapper>