@charset "utf-8";

/*---------------content*/
.content{ margin:0 25px 0 20px;}
.contentNode{font-size:1em;}

.content h2{
	font-size:1.2em;
	font-weight:bold;
background: url(../images/peoplebg_01.gif)  no-repeat 0 bottom;	
	margin: 15px 0px 20PX 0;
	padding:0 0 8PX 0px;
	color: #006600; 
}
.content h2 a{color:#9f3807;font-weight:bold;}
.content h2 span{ color:#333;}

.popWin h2{
	font-size:1.2em;
	font-weight:bold;
	margin:0 0 0 0px;
	color: #900;
	padding:10px 0 25px 55px; 
	background: url(../images/popWin_h2bg.jpg) no-repeat 0px bottom;
}

/*---------------navfunction*/
.navfunction{ float:right; margin:-22px 0 5px; padding:0; clear: both; }
.navfunction .treeSet{ float:left;}
.navfunction .treeSet ul{ margin:0 5px 0 0; }
.navfunction .treeSet ul li{ display: inline; float:left; margin:0 2px 0; padding:0 }
.navfunction .treeSet ul li a{ color:#7b7962; }
.navfunction .treeSet ul li a:hover, .navfunction .treeSet ul li.here a{color:#C30;	}

.navfunction .fontsize{float:left; width:115px;  }
.navfunction .fontsize ul{
	float: left;
	margin:	0px 0 0 60px;	
	margin:-20px 0 0 60px\9;
	
}
body:nth-of-type(1) .navfunction .fontsize ul{margin:-20px 0 0 60px;	}

.navfunction .fontsize li{ display:inline; float:left; }
.navfunction li img{ vertical-align:middle; margin:0 2px 0;}

/*--------------listfunction*/
.listfunction{clear:both; margin:5px 0 0 0; width:100%; }
.listfunction p{clear:both;}
.listfunction label{ margin:0; color:#960;}
.listfunction .sortBy{  color:#666;position:relative;  float:left; margin:0; padding:0; }
.listfunction .sortBy .blockModify{
	border:1px solid #e9cd6d;
	border-bottom:0;
	background-color:#fffee6;
	width:85px;
	position: absolute;
	top:24px;
	left:0px;
	padding:0px;
}
.listfunction .sortBy .blockModify li{ border-bottom:1px solid #e9cd6d;  margin:0 ; }
.listfunction .sortBy .blockModify a{ color:#333;  font-size:0.9em; line-height:2em;display:block;  padding:0 0 0 12px; }
.listfunction .sortBy .blockModify a:hover{ color:#C00; background-color:#f6e091;}
.listfunction .btnBatch{	
	color:#333;
	width:90px;
	margin:0;	
	padding:5px 0 3px 0;
	cursor:pointer;
	border:0;
	background: url(../images/btnBatch_bg.gif) repeat-x 0px 0px;
}
.treenodeBox{
	margin: 40px auto 20px auto;
	width: 750px;
	min-height:375px;
}
/*---------------------explain*/
.explain{  margin:20px auto; border-bottom:1px dotted #CCC; font-size:1.2em; color:#960; clear:both; }

.nodeItem {  margin:0 auto ;  }
.nodeItem ul{ 
	margin:10px auto 0 auto;
	clear:both;
	width:90%;
	text-align:center;
}
.nodeItem li{ display:inline; padding:10px;  margin:0 auto; width:750px;   }

/*--------------------step*/
.step{
	text-align:center;
	width:700px;
	height:115px;
	margin:10px auto 0px auto;
	background: url(../images/step_bg.gif) no-repeat  center bottom;
}
.step ul{ margin:5px 0 0px 10px ; overflow:hidden; }
.step ul li{ height:85px; width:230px;  padding:6px 0 0 0px; display:inline; float:left; }
.step ul li span{
	padding:0px 0 0 10px;
	color:#999;
	display:block;clear:both;
	font: bold 1.3em "Trebuchet MS", Arial, Helvetica, sans-serif;}

.step ul li p{ margin:5px 0 0 15px; width:150px;color:#999; font-size:1.2em; line-height:1.3em; }
.step ul li.step1here span, .step ul li.step1here p,
.step ul li.step2here span, .step ul li.step2here p,
.step ul li.step3here span, .step ul li.step3here p{ color:#000;}
.step ul li.step1, .step ul li.step2{
	background: url(../images/step1.gif) no-repeat 0px 0px;
}
.step ul li.step1here, .step ul li.step2here{
	background: url(../images/step1_here.gif) no-repeat 0px 0px;
}
.step ul li.step3{
	background: url(../images/step3.gif) no-repeat 0px 0px;
}
.step ul li.step3here{
	background: url(../images/step3_here.gif) no-repeat 0px 0px;
}

/*-------------------mode_L*/
.mode_L { margin:0 auto;}
.mode_L li{ display:inline; float:left; position:relative; width:230px; margin:0 10px 0;}
.mode_L li .data{ position:absolute; top:15px; left:20px;}
.mode_L li .data h3{ font-size:1.2em; font-weight:bold; color:#444;}
.mode_L li .data p{ font-size:0.8em; color:#999; width:135px; line-height:1.4em; overflow:auto; height:60px;  }

/*-------------------mode_s*/
.mode_s { margin:0 auto;}
.mode_s li{ display:inline; float:left;  position:relative;}
.mode_s li span{ position:absolute; top:6px; left:18px; color:#888; overflow:hidden; }
.mode_s li.here span{ color:#000; }

.selectactivebg {
	padding:0;
	height:100px;
	width:232px;
	background:url('../images/mode_L1_active.jpg') 0 0;
	margin-bottom:10px;
}
.selectbg {
	padding:0;
	height:100px;
	width:232px;
	background:url('../images/mode_L1.jpg') 0 0;
	margin-bottom:10px;
}
