@charset "utf-8";
/* CSS Document */

/*------------formTb---*/
.formTb{
	margin:10px 0 10px 15px;
	padding:0px;
	text-align:center;
	border-bottom: 0px;
	clear:both;
}
.formTb table{
	width:100%;
	margin:0 0 10px;
	text-align:left;
	background-color:#FFF;
	border-collapse:collapse;
	border: 2px solid #cac4aa;
}
.formTb table caption{
	padding:0px;
	color: #888;
	text-align:left;
}
.formTb table th{
	color: #4a3604;
	width:15%;
	font-weight: normal;
	padding:4px;
	vertical-align:top;
	text-align:right;	
	border-right: 1px solid #b6aa78;
	border-bottom: 1px solid #b6aa78;
	background: url(../images/formTb_thbg.gif) repeat right 0px;
}
.formTb table td img{ vertical-align:middle;}
.formTb table td{	
	line-height: 1.8em;
	color:#555;
	padding:4px;
	vertical-align:top;
	border-bottom: 1px dotted #cbc9b4;
}
.formTb table td ul{
	margin:5px 0 0 0px;
}
.formTb table td ul li{
	padding:0 0 0 15px;
	background-image: url(../images/arrow2.gif);
	background-repeat: no-repeat;
	background-position: 0px 6px;
	list-style-type:none;
	line-height:2.2em;
}
.formTb table td ol{
	margin:5px 0 0 10px;
	list-style-type:none;
}
.formTb table td ol li{
	margin:5px 0 5px 25px;
	list-style-type: decimal;
	line-height:1.25em;
}
.formTb table td .GClist li{
	padding:0 0 0 12px;
	background: url(../images/arrow1.gif) no-repeat 5px center;
}
.formTb table td .GClist li img{ vertical-align:middle;}

/*----table reset*/
.formTb table td table, .formTb table td table th, .formTb table td table td{
	border:0;
	color:#333;
	width:auto;
	text-align:left;
	background: #FFF url(none);
}


/*------------formTb2---*/
.formTb2{
	margin:10px 0 10px 15px;
	padding:0px;
	text-align:center;
	border-bottom: 0px;
	clear:both;
}
.formTb2 table{
	width:90%;
	margin:0 auto;
	text-align:left;
	border-collapse:collapse;
}
.formTb2 table caption{
	padding:0px;
	color: #888;
	text-align:left;
}
.formTb2 table th{
	color: #4a3604;
	width:15%;
	font-weight: normal;
	padding:4px;
	vertical-align:top;
	text-align:right;	
	border-bottom: 1px dotted #cbc9b4;
}
.formTb2 table td img{ vertical-align:middle;}
.formTb2 table td{	
	line-height: 1.8em;
	color:#555;
	padding:4px;
	vertical-align:top;
	border-bottom: 1px dotted #cbc9b4;
}
.formTb2 table td ol{
	margin:5px 0 0 10px;
}
.formTb2 table td ol li{
	margin:5px 0 5px 25px;
	list-style-type:none;
	line-height:1.25em;
}

.formTb table.sec, .formTb2 table.sec{
	width:100%;
}
.formTb table.sec th, .formTb2 table.sec th{
	width:10%;
	color: #4a3604;
	vertical-align:top;
	text-align:right;	
}


/*---------------modeSwitch--*/
.formTb2 table .modeSwitch{ clear:both;}
.formTb2 table .modeSwitch ul{ margin:0;}
.formTb2 table .modeSwitch ul li{
	display:inline;
	float:left;
	margin:0 2px 0 0;
	padding:0px 8px 0 0;
	background: url(../images/modeSwitch_libg1.gif) no-repeat right 0px;
}
.formTb2 table .modeSwitch ul li a{
	display:inline;
	float:left;
	color:#333;
	text-decoration:none;
	padding:5px 0 5px 8px;
	background: url(../images/modeSwitch_libg1.gif) no-repeat left 0px;
}
.formTb2 table .modeSwitch ul li.here{background: url(../images/modeSwitch_libg2.gif) no-repeat right 0px;}
.formTb2 table .modeSwitch ul li.here a{background: url(../images/modeSwitch_libg2.gif) no-repeat left 0px; color:#FFF;}
.formTb2 table .modeSwitch ul li a:hover{ color:#C00;}
	
	
/*---------------uploadlist/ uploadlist--*/
.formTb2 table .uploadlist{
	margin:5px 15px 5px 0;
	border:1px dotted #ccc;
	float:left;
	display:inline;
	width:290px;
	padding:5px;
	background-color:#f3f3f3;
	text-align:center;
}
.AddPic, .AddVideo{ float:left; display:inline; }
.AddPic .selectUpload, .AddVideo .selectUpload{
	padding: 0px 0 0 0;
	width: auto;
	height: 125px;
	margin: 0px 0 0;
	overflow: hidden;
	background: url(../images/selectUpload_bg.gif) no-repeat 0px 0px;
}
.AddPic .selectUpload ul, .AddVideo .selectUpload ul{ margin:15px 0 0 10px;  }
.AddPic .selectUpload li, .AddVideo .selectUpload li{	display:inline; float:left; width:160px; padding:5px 12px 5px 5px ;}
.AddPic .selectUpload li h3 ,.AddVideo .selectUpload li h3{ background-color:#fff;  clear:both; border:1px solid #d1be83; margin:5px 0;}
.AddPic .selectUpload li h3 a ,.AddVideo .selectUpload li h3 a{  color: #333 ;font-weight:blod;  text-decoration:none; padding:3px 3px 2px 3px; font-size:1.05em; display:block;}
.AddPic .selectUpload li p,.AddVideo .selectUpload li p{ color:#84735d; line-height:1.3em; font-size:0.85em; max-height:60px; _height:60px; overflow: hidden; }


.formTb2 table .uploadlist .body{ margin:0 0 0 5px;}
.formTb2 table .uploadlist .body h3{ color:#333; font-weight:bold;}
.formTb2 table .uploadlist .img{ float:left;}
.formTb2 table .uploadlist .img img{ width:150px; height:100px; border:1px solid #ccc; padding:1px; margin:5px;}
.formTb2 table td h4{ font-weight:bold; color:#000;}

.formTb2 table .uploading, .formTb2 table .uploadfile, .formTb2 table .uploadlist .setmain{ display: block; clear:both;}
.formTb2 table .uploading span, .formTb2 table .uploadfile span{ display:inline;}
.formTb2 table td .unstatus{ clear:both; color:#C00;}
.formTb2 table .uploading .title, .formTb2 table .uploadfile .title{ color: #630; margin:0 0 5px; border-bottom:1px dotted #CCC;}



/*-----------------optional*/
.optional{
	display: block;
	float:right;
	margin:0px 0 0;
	padding:0px 5px 0 30px;
	background: url(../images/icon_optional.gif) no-repeat 0px center;
}
.listTb .optional{ float: none;}
.optional a strong{
	font-weight: bold;
	color: #900;
}


/*----------------popWin*/
.popWin{  
	width:640px;
	margin:0 auto;
}

/*------------popWin formTb---*/
.popWin .popformTb{
	margin:10px 10px 10px 20px;
	padding:20px 0px 0 0px;
	text-align:center;
	border-bottom: 0px;
	clear:both;	
	background: url(../images/popformTb_bg1.gif) no-repeat 0px top;
}
.popWin .popformTb .foot{background: url(../images/popformTb_bg2.gif) no-repeat 0px bottom; height:20px;}
.popWin .popformTb .setbox{
	margin:0 30px 0 10px; 
	overflow:hidden; 
	clear:both;
}
.popWin .popformTb .setbox p{ color:#960; margin:0 0 0 5px;} 
.popWin .popformTb .setbox p em{ font-style:italic;}
.popWin .popformTb .setbox table { width:540px;}
.popWin .popformTb .setbox table caption{ color:#999;}
.popWin .popformTb .setbox table th{ text-align:right;}
.popWin .popformTb .setbox table td{ padding:2px 0;}
.popWin .popformTb .listfunction{ clear:both; margin:5px 20px; border-bottom:2px dotted #d1bc9a; overflow:hidden; padding:2px 0;  }
.popWin .popformTb .listfunction .funSearch{ margin:0 0 5px;}

.popWin .close{ float:right; margin:-55px 10px 0; }
.popWin .popformTb .tab{ text-align:center;}
.popWin .popformTb .tab ul{ margin:10px auto; text-align:center;}
.popWin .popformTb .tab li{ display:inline; margin:0 2px 0; }
.popWin .popformTb .tab li a{ display:inline-block; padding:5px; color: #9B8742; border:1px solid #cebd9e; }
.popWin .popformTb .tab li.here a{ background-color:#dc7b03; color:#FFF; border:1px solid #7e4818;}

.popWin .popformTb table{
	margin:0 auto 5px 20px;
	width: auto;
	text-align:left;
	background-color:#FFF;
	border-collapse:collapse;	
}
.popWin .popformTb table ul{ margin: 0 10px;}

/*-------------uploadsearchlist*/
.popWin .popformTb .uploadsearchlist{ margin:5px 0; overflow:hidden;   }
.popWin .popformTb .uploadsearchlist ul{ clear:both;  text-align:center; margin:5px 0 0 40px;}
.popWin .popformTb .uploadsearchlist li{
	float:left;
	display:inline;
	width:150px;
	min-height:150px;	_height:150px;	overflow:auto;
	padding:5px;
	margin:0 10px 10px 0;
	background-color:#efefef;
	border:1px dotted #ccc;	
}
.popWin .popformTb .uploadsearchlist li label{ float:left; vertical-align: top; padding:2px 2px 0;  }
.popWin .popformTb .uploadsearchlist li .title{ color:#333; font-weight:bold; max-height:50px; _height:50px; overflow:hidden; line-height:1.3em; }
.popWin .popformTb .uploadsearchlist li .img { display:block; text-align:center; margin:5px 0; }
.popWin .popformTb .uploadsearchlist li .img img{ width:120px; height:80px; border:1px solid #ccc; padding:1px;}
.popWin .popformTb .uploadsearchlist li a:hover{ text-decoration:underline;}
.popWin .popformTb .uploadsearchlist li p, .popWin .popformTb .uploadsearchlist li p a{ line-height:1.3em; }

/*------------popTb*/
.popWin .popformTb .popTb{ margin:10px 0; }
.popWin .popformTb .popTb th{ border-bottom:2px solid #963; background-color:#f0e9de; padding:3px; }
.popWin .popformTb .popTb td{ border-bottom:1px dotted #ccc; padding:3px;}

.formTb2 .aCenter, .formTb2 .aCenter .aCenter{ margin:10px 0; clear:both; }

.formTb, .formTb2{
	min-height:450px;
}
