@charset "utf-8";


.editaction .tclose {
	float: left;
	margin: 0 1px 0 0;
	padding: 0;
	background: url('../images/editicon/closetool.gif') no-repeat center bottom;
	border: 1px solid #7f9db9;
}
.editaction .tclose img {
	border: 0;
	width: 14px;
	height: 25px;
	margin: 0;
}
.editaction .topen {
	float: left;
	margin: 0 3px 0 0;
	padding: 0;
	background: url('../images/editicon/opentool.gif') no-repeat center bottom;
	border: 1px solid #7f9db9;
}
.topen img {
	border: 0;
	width: 14px;
	height: 7px;
	margin: 0;
}

.editaction {
	border: 1px solid #7f9db9;
	padding: 10px 5px 0;
	margin: 5px 0 3px 0;
	min-height: 14px;
	clear:both;
}
.editaction ul {
	padding: 0 0 0 20px;
	margin: 2px 0 7px;
}
.editaction ul li {
	display: inline;
	padding: 0;
	line-height: 200%;	
}
.editaction ul li img {
	padding: 0;
	margin: 0;
	border: 0;
}
.editaction ul li a {
	padding: 5px 3px 0;
	margin: 0;
	border: 1px solid #ffffff;
	text-decoration: none;
}
.editaction ul li a:hover {
	border: 1px solid #999999;
}

.htmleditor {
	border: 1px solid #7f9db9;
	height: 200px;
	clear: both;
	magin-bottom: 0;
}