@charset "utf-8";
/* CSS Document */

/*---------------leftCol open*/
.leftCol{
	padding:10px 0px;
	width:182px;
	height:700px;
	position:relative;
	background:#fff url(../images/left_bg.gif) no-repeat 0px 0px;
}
.leftCol h2{
	text-align:center;
	font-size:1.2em;
	font-weight:bold;
	color:#4c601f;
	margin:0 5px 0 10px; width:120px;
	padding:3px 5px ;
	-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFFFFF), to(#f9f9a6));
background: -webkit-linear-gradient(#FFFFFF, #f9f9a6);
background: -moz-linear-gradient(#FFFFFF, #f9f9a6);
background: -ms-linear-gradient(#FFFFFF, #f9f9a6);
background: -o-linear-gradient(#FFFFFF, #f9f9a6);
background: linear-gradient(#FFFFFF, #f9f9a6);
-pie-background: linear-gradient(#FFFFFF, #f9f9a6);
behavior: url(js/PIE.htc);
	
}
.leftCol ul{ margin:5px 0 0 18px; width:120px;}
.leftCol li{ border-bottom:1px dotted #FFC; margin:0 0 5PX 0; }
.leftCol li a{background: url(../images/icon01.png) no-repeat right 5px; padding:0 15px 0 0;
 color:#fff; display:block; line-height:2em; }
.leftCol li a:hover{ color:#f9f9a6;background: url(../images/icon01_hover.png) no-repeat right 5px; 	}

.leftCol .sideBar{
	width:27px;
	right:0px;
	top:200px;
	position: absolute;
}
.leftCol .treeBox{
	border:1px solid #888;
	float:left;
	margin:10px 0 0 5px;
	padding:0;
} 
/*---------------leftCol open*/
.leftCol2{
	padding:0px 0px;
	width:27px;
	height:700px;
	position:relative;
	background:#fff url(../images/leftCol_bg.gif) repeat 0px 0px;
}
.leftCol2 h2{height:35px;}
.leftCol2 .sideBar{
	width:27px;
	right:0px;
	top:200px;
	position: absolute;
}