@charset "utf-8";

body{
	text-align:center;
	background: #a5c850 url(../images/login_bg.jpg) repeat-x 0px top;
	font-size: 0.8em;
}
.login{
	margin:0px auto 0 auto;
	text-align:left; position:relative;
	width:680px; height: 580px;
	background: url(../images/login.jpg) no-repeat center 0px;
}
.form_admin{
	padding:230px 0 0 228px; position:relative;
	text-align:left; font-size:1.25em;line-height:2em;
}
.form_admin input[type="text"], .form_admin input[type="password"]{ display:inline;  margin:0 0 0PX; padding:2px 5px; width:180px;  }
.form_admin input[type="image"]{ position:absolute; top:222px; right:100px;}
.base{ margin:250px 0 0 160px; color: #360;}