@charset "utf-8";

.top{
	font-size:0.95em;
	height:137px;
	position:relative;  font-family: "微軟正黑體";
	background: url(../images/topbg.jpg) no-repeat 0px 0px;
}
.top h1{position: absolute; top:5px; left:10px;}
.top h1 img{ width: auto; height: auto;}

.top .toplink{position: relative; top:138PX; right:0;}
.top .toplink .user{ color: #FFC; position:absolute; bottom:3px; right:200px; color: #FFF;  z-index:999;
background: url(../images/icon04.gif) no-repeat 0 0;  padding:2px 0 0 22px;}
.top .toplink .todaytime{ position:absolute; bottom:3px; right:5px; color:#FFF; z-index:999;
background: url(../images/todaytime.png) no-repeat 0 0; padding:4px 0 1px 23px; }


/*------------------------------------------------------ Nav */
.nav {
	background: url(../images/nav_bg.png) repeat 0 0;
	padding: 0px 5px 2px 20px;
	position: absolute ;
	top: 0px;
	right: 0px;
	height: 20px;
	-webkit-border-radius: 0 0 0 8px;-moz-border-radius: 0 0 0 8px;border-radius:0 0 0 8px;
}
.nav ul {
	list-style: none;
	padding:0;
	margin:0;
}
.nav li {
	display: inline;
	padding:0;
	margin:0;
	background-repeat: no-repeat;
}
.nav li a {
	color: #FFC;
	text-decoration: none;
	background: url(../images/nav_icon01.png) no-repeat 0 2px;
	padding-left: 15px; margin:0 5PX 0;
	}
.nav li a:hover {
	color: #FFFF00;
	text-decoration: none;	
}