@charset "UTF-8";
/* Main Style Sheet for jQuery UI date picker */
.calendar {/*chiung*/
	width:230px;
	padding:0;
	margin:0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height:13px;
}

.datepicker_links {
	clear:both;
	overflow:hidden;
	/*background: url(../images/calendar_head.png) no-repeat 0 0;*/
	background: #666;
	padding: 3px 4px 4px;
	letter-spacing:1px;
	font-size:11px;
	line-height:11px;
}
.datepicker_links a {
	cursor: pointer;
	margin: 0;
	padding: 0;
	color: #ddd;
	text-decoration:none;
}
.datepicker_links a:hover {
	color: #e8ff5d;
}
.datepicker_prev {
	padding:5px 0 5px 12px;
	/*background:url(../images/datepicker_prev.png) no-repeat left top;*/
}
.datepicker_next {
	padding:5px 12px 5px 0;
	/*background:url(../images/datepicker_next.png) no-repeat right top;*/
}
.datepicker_current {
	padding:5px 0;
	/*background:url(../images/datepicker_current.png) no-repeat center top;*/
}




#datepicker_div, .datepicker_inline {
	padding:0;
	margin: 0;
	/*background: #ddd;
	width: 185px;*/
	width:230px;
}
#datepicker_div {
	width:230px !important;
	display: none;
	/*border: 1px solid #777;*/
	z-index: 9999; /*must have*/
	background:#fff;
}
.datepicker_inline {
	float: left;
	display: block;
	border: 0;
}
.datepicker_rtl {
	direction: rtl;
}
.datepicker_dialog {
	padding: 5px !important;
	border: 4px ridge #ddd !important;
}
button.datepicker_trigger {
	width: 25px;
}
img.datepicker_trigger {
	margin: 2px;
	vertical-align: middle;
}
.datepicker_prompt {
	float: left;
	padding: 2px;
	background: #ddd;
	color: #000;
}
* html .datepicker_prompt {
	width: 230px;
}
.datepicker_control, /*.datepicker_links,*/ .datepicker {
	clear: both;
	float: left;
	width: 100%;
	color: #333;
	font-size:12px;
}
.datepicker_clear a ,  .datepicker_close a {
	color: #333;
	cursor:pointer;
	padding:0 4px;
}
.datepicker_control {
	background: #666;
	padding: 2px 0;
}

/*------------------------------------Prev Today Next 定位*/
.datepicker_links label { /* disabled links */
	color: #666;
}
.datepicker_control {
	/*font-weight: bold;
	font-size: 80%;
	letter-spacing: 1px;*/
}
.datepicker_clear, .datepicker_prev {
	float: left;
	width: 25%;
}
.datepicker_rtl .datepicker_clear, .datepicker_rtl .datepicker_prev {
	float: right;
	text-align: right;
}
.datepicker_current {
	float: left;
	width: 39%;
	text-align: center;
}
.datepicker_close, .datepicker_next {
	float: right;
	width: 25%;
	text-align: right;
}
.datepicker_close a, .datepicker_clear a{ color:#e6b533;}
.datepicker_rtl .datepicker_close, .datepicker_rtl .datepicker_next {
	float: left;
	text-align: left;
}

/*-------------------年月下拉選單*/
.datepicker_header {
	float:none;
	padding:4px 0;
	background: #444;
	text-align: center;
	font-weight: bold;
	/*height: 1.3em;*/
}
.datepicker_header select {
	background: #333;
	color: #fff;
	margin:0 2px;
	border:1px solid #888;
	/*border: none;
	font-weight: bold;*/
}
/*-------------------------------calendar 201011 chiung*/
/*.datepicker {
	background: #ccc;
	text-align: center;
	font-size: 100%;
}
.datepicker a {
	display: block;
	width: 100%;
	text-decoration:none;
}
.datepicker a:hover {
	color:#f00;
}
*/

table.datepicker {
	border-collapse:collapse;
	font-size:12px;
	line-height:12px;
	border:1px solid #dadada;
	border-top-width:2px;
	border-bottom-width:2px;
}
.datepicker td {
	text-align:center;
	padding:0;
	width:14%;
	border:1px solid #dadada;
	color:#333;
	cursor:pointer;
}
.datepicker td a {
	display:block;
	width:100%;
	padding:3px 0 2px;
	text-decoration:none;
	color:#333;
	cursor:pointer;
}
.datepicker td a:hover {
	text-decoration:none;
}

/*-----------------------*/
.datepicker_titleRow {
	background: #777;
}
.datepicker_titleRow td a {/*chiung*/
	color:#fff;
}
.datepicker_titleRow td a:hover {/*chiung*/
	background: #444;
}
.datepicker_daysRow {
	/*background: #eee;*/
	background: #fff;
}
.datepicker_weekCol {
	background: #777;
	color: #fff;
}
/*
.datepicker_daysCell {
}
.datepicker_daysCell a {
}
*/
.datepicker_weekEndCell {
	/*background: #ddd;*/
	background:#ba7906;
	color:#000;
	border-color:#fff;
}
.datepicker_weekEndCell a {
	color:#000;
}
.datepicker_titleRow td.datepicker_weekEndCell a:hover {
	background:#4a7500;
}
.datepicker_titleRow .datepicker_weekEndCell {
	/*background: #777;*/
	background:#b28f00;
	color:#fff;
}
.datepicker_daysCellOver {
	background: #ffe382;
}
.datepicker td.datepicker_unselectable {
	color: #999;
	padding:3px 0 2px;
}
.datepicker_today {
	/*background: #fcc;*/
	background: #594b32 !important;
	color: #f1bb16 !important;
}
.datepicker_today a {
	color:#f1bb16 !important;
}
.datepicker_currentDay {
	/*background: #999 !important;*/
	background: #ff7f00 !important;
	color:#e5ff4b !important;
}
.datepicker_currentDay a {
	color:#fff !important;
}
.datepicker_status {
	background: #ddd;
	width: 100%;
	font-size: 80%;
	text-align: center;
}

/* ________ Datepicker Links _______

** Reset link properties and then override them with !important 
#datepicker_div a, .datepicker_inline a {
	cursor: pointer;
	margin: 0;
	padding: 0;
	background: none;
	color: #000;
}
.datepicker_inline .datepicker_links a {
	padding: 0 5px !important;
}
.datepicker_control a, .datepicker_links a {
	padding: 2px 5px !important;
	color: #eee !important;
}
.datepicker_titleRow a {
	color: #eee !important;
}
.datepicker_control a:hover {
	background: #fdd !important;
	color: #333 !important;
}
.datepicker_links a:hover, .datepicker_titleRow a:hover {
	background: #ddd !important;
	color: #333 !important;
}
*/
/* ___________ MULTIPLE MONTHS _________*/

.datepicker_multi .datepicker {
	/*border: 1px solid #f00;*/
}
.datepicker_oneMonth {
	/*float: left;*/
	overflow:hidden;
}
.datepicker_newRow {
	clear: left;
}


/* ___________ IE6 IFRAME FIX ________ */

.datepicker_cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}

